body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.calc-wrapper {
    background-color: white;
    width: 400px;
}

.row {
    display: flex;
}